

.finally{
    color: white;

    background-image: url('/img/finally.png');
    height: 20rem;
    position: relative;
    top: 120rem;
    display: flex;
  align-items: center;
  justify-content: space-evenly;

    
   &__h1{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    width: 32%;
   }
  &__ul{
   display: flex;
   gap: 2rem;
    &__li{
        display: flex;
        flex-direction: row;
    }
  }
}




@media (max-width:878px){
    .finally{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;

   &__h1{
    width: 70%;
    text-align: center;
   }

    }
}


@media (max-width:992px){
    .finally{
        top: 160rem;
    }

}

@media (max-width:770px){
    .finally{
        top: 190rem;
    }

}


@media (max-width:641px){
    .finally{
        top: 210rem;

        &__h1{
            font-size: 2rem;
        }

        &__ul{

            &__li{
                &__img{
                    width: 10rem;
                }
            }
        }
    }

}

@media (max-width:457px){
    .finally{
        top: 220rem;
    }

}

@media (max-width:439px){
    .finally{
        top: 240rem;
    }

}